[submodule "Cargo"]
path = Cargo
url = ssh://git@github.com/CodeEditorLand/DependencyTauriCargo.git

[submodule "NPM"]
path = NPM
url = ssh://git@github.com/CodeEditorLand/DependencyTauriNPM.git
[submodule "Dependency"]
	path = Dependency
	url = ssh://git@github.com/CodeEditorLand/DependencyTauriDependency.git
