[submodule "Cargo"]
path = Cargo
url = ssh://git@github.com/CodeEditorLand/DependencyTauriCargo.git

[submodule "NPM"]
path = NPM
url = ssh://git@github.com/CodeEditorLand/DependencyTauriNPM.git

[submodule "Service"]
path = Service
url = ssh://git@github.com/CodeEditorLand/DependencyTauriService.git
